;; Analyzed by ClojureScript 1.8.40
{:use-macros nil, :excludes #{}, :name swino.state, :imports nil, :requires nil, :uses nil, :defs {init-state {:name swino.state/init-state, :file "src\\cljs\\state.cljs", :line 3, :column 1, :end-line 3, :end-column 20, :meta {:file "c:\\Users\\Matt\\swino\\src\\cljs\\state.cljs", :line 3, :column 10, :end-line 3, :end-column 20}}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:wine/focus :color/by-id :wine/name :wine/color :color/name :wine/new :filter :db/id :wine/year :wine/by-id :wine/list :color/list}, :order [:wine/list :wine/by-id :wine/new :wine/focus :filter :color/list :color/by-id :db/id :wine/name :wine/year :wine/color :color/name]}, :doc nil}